[Desktop Entry]
Type=Application
Exec=/home/codefluent/.devilspie/cavainit
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Cava
Name=Cava
Comment[en_US]=
Comment=
