<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_tweak_book_find_edit</key>
	<array>
		<string>The Japanese have many</string>
		<string>On is always used in this sense of limitless devotion when it is used of one's first and greatest indebtedness, one's 'Imperial on.' This is one's debt to the Emperor, which one should receive with unfathomable gratitude. It would be impossible, they feel, to be glad of one's country, of one's life, of one's great and small concerns without thinking also of receiving these benefits. In all Japanese history this ultimate person among living men to whom one was indebted was the highest superior within one's horizon.</string>
		<string>Japanese words, which are in no way synonymous with</string>
		<string>On is in</string>
		<string>On is </string>
		<string>On is in all its uses a load, an indebtedness, a burden, which one carries as best one may. A man receives on from a superior and the act of accepting an on from any man not definitely one's superior or at least one's equal gives one an uncomfortable sense of inferiority.</string>
		<string>In the villages the headman is an old resident, a member of a land-owning farm family. He serves at a financial loss but the prestige is considerable. He and the</string>
		<string>immediate sup</string>
		<string>The prerogatives of generation, sex, and age in Japan are great. But those who exercise these privileges act as trustees rather than as arbitrary autocrats. The father or the elder brother is responsible for the household, whether its members are living, dead, or yet unborn.</string>
		<string>The Japanese, therefore</string>
		<string>any attempt</string>
		<string>To the Japanese there</string>
		<string>To the Jap</string>
		<string>&lt;span style="background-color: rgb(255, 229, 29)"&gt;Americans thrill to all rescue, all aid to those pressed to the wall. A valiant deed is all the more a hero's act if it saves the 'damaged.' Japanese valor repudiates such salvaging. Even the safety devices installed in our B-29's and fighter planes raised their cry of 'Cowardice.' The press and the radio re-turned to the theme over and over again. There was virtue only in accepting life and death risks; precautions were unworthy. This attitude found expression also in the case of the wounded and of malarial patients. Such soldiers were damaged goods and the medical services provided were utterly inadequate even for reasonable effectiveness of the fighting force.&lt;/span&gt;</string>
		<string>Americans thrill</string>
		<string>Americans thrilled</string>
		<string>faith</string>
	</array>
	<key>lineedit_history_tweak_book_preview_search</key>
	<array>
		<string>faith</string>
	</array>
</dict>
</plist>
